#where to find the build jobs
export CI_BASE_URL='cluster base url'
export CI_NAMESPACE='openshift namespace'
#where to find the ci-operator configs (repository and path)
export CI_GIT_REPO='owner/repository'
export CI_GIT_PATH='path/to/yaml/files/'
#repository containing the code in owner/repo format
export MAIN_GIT_REPO='owner/repository'
#issue label to select by
export MAIN_GIT_LABEL='kind/test-flake'
# generate one here https://github.com/settings/tokens
export GIT_USER='gituser here'
export GIT_TOKEN='the git token'
